/* Fuentes de Airbnb */

@font-face {
    font-family: "AirbnbCerealApp-Light";
    src: url("/fonts/Airbnb/light/AirbnbCerealLight.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/Airbnb/light/AirbnbCerealLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Airbnb/light/AirbnbCerealLight.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Airbnb/light/AirbnbCerealLight.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Airbnb/light/AirbnbCerealLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Airbnb/light/AirbnbCerealLight.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Airbnb/light/AirbnbCerealLight.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "AirbnbCerealApp-Black";
    src: url("/fonts/Airbnb/black/AirbnbCerealBlack.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/Airbnb/black/AirbnbCerealBlack.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Airbnb/black/AirbnbCerealBlack.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Airbnb/black/AirbnbCerealBlack.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Airbnb/black/AirbnbCerealBlack.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Airbnb/black/AirbnbCerealBlack.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Airbnb/black/AirbnbCerealBlack.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "AirbnbCerealApp-Bold";
    src: url("/fonts/Airbnb/bold/AirbnbCerealBold.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/Airbnb/bold/AirbnbCerealBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Airbnb/bold/AirbnbCerealBold.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Airbnb/bold/AirbnbCerealBold.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Airbnb/bold/AirbnbCerealBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Airbnb/bold/AirbnbCerealBold.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Airbnb/bold/AirbnbCerealBold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "AirbnbCerealApp-Book";
    src: url("/fonts/Airbnb/book/AirbnbCerealBook.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/Airbnb/book/AirbnbCerealBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Airbnb/book/AirbnbCerealBook.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Airbnb/book/AirbnbCerealBook.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Airbnb/book/AirbnbCerealBook.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Airbnb/book/AirbnbCerealBook.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Airbnb/book/AirbnbCerealBook.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "AirbnbCerealApp-ExtraBold";
    src: url("/fonts/Airbnb/extraBold/AirbnbCerealExtraBold.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/Airbnb/extraBold/AirbnbCerealExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Airbnb/extraBold/AirbnbCerealExtraBold.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Airbnb/extraBold/AirbnbCerealExtraBold.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Airbnb/extraBold/AirbnbCerealExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Airbnb/extraBold/AirbnbCerealExtraBold.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Airbnb/extraBold/AirbnbCerealExtraBold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "AirbnbCerealApp-Medium";
    src: url("/fonts/Airbnb/medium/AirbnbCerealMedium.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/Airbnb/medium/AirbnbCerealMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Airbnb/medium/AirbnbCerealMedium.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Airbnb/medium/AirbnbCerealMedium.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Airbnb/medium/AirbnbCerealMedium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Airbnb/medium/AirbnbCerealMedium.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Airbnb/medium/AirbnbCerealMedium.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* ------------------------------------------------- */


/* Fuentes de proxima-nova */


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "ProximaNovaA-Bold";
    src: url("/fonts/proxima_nova/bold/MarkSimonson-ProximaNovaAltBold.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/proxima_nova/bold/MarkSimonson-ProximaNovaAltBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/proxima_nova/bold/MarkSimonson-ProximaNovaAltBold.otf") format("opentype"), /* Open Type Font */
    url("/fonts/proxima_nova/bold/MarkSimonson-ProximaNovaAltBold.svg") format("svg"), /* Legacy iOS */
    url("/fonts/proxima_nova/bold/MarkSimonson-ProximaNovaAltBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/proxima_nova/bold/MarkSimonson-ProximaNovaAltBold.woff") format("woff"), /* Modern Browsers */
    url("/fonts/proxima_nova/bold/MarkSimonson-ProximaNovaAltBold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "ProximaNovaA-Extrabld";
    src: url("/fonts/proxima_nova/extraBold/MarkSimonson-ProximaNovaAltExtrabold.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/proxima_nova/extraBold/MarkSimonson-ProximaNovaAltExtrabold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/proxima_nova/extraBold/MarkSimonson-ProximaNovaAltExtrabold.otf") format("opentype"), /* Open Type Font */
    url("/fonts/proxima_nova/extraBold/MarkSimonson-ProximaNovaAltExtrabold.svg") format("svg"), /* Legacy iOS */
    url("/fonts/proxima_nova/extraBold/MarkSimonson-ProximaNovaAltExtrabold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/proxima_nova/extraBold/MarkSimonson-ProximaNovaAltExtrabold.woff") format("woff"), /* Modern Browsers */
    url("/fonts/proxima_nova/extraBold/MarkSimonson-ProximaNovaAltExtrabold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "ProximaNovaA-Light";
    src: url("/fonts/proxima_nova/light/MarkSimonson-ProximaNovaAltLight.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/proxima_nova/light/MarkSimonson-ProximaNovaAltLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/proxima_nova/light/MarkSimonson-ProximaNovaAltLight.otf") format("opentype"), /* Open Type Font */
    url("/fonts/proxima_nova/light/MarkSimonson-ProximaNovaAltLight.svg") format("svg"), /* Legacy iOS */
    url("/fonts/proxima_nova/light/MarkSimonson-ProximaNovaAltLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/proxima_nova/light/MarkSimonson-ProximaNovaAltLight.woff") format("woff"), /* Modern Browsers */
    url("/fonts/proxima_nova/light/MarkSimonson-ProximaNovaAltLight.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "ProximaNovaA-Semibold";
    src: url("/fonts/proxima_nova/semiBold/MarkSimonson-ProximaNovaAltSemibold.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/proxima_nova/semiBold/MarkSimonson-ProximaNovaAltSemibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/proxima_nova/semiBold/MarkSimonson-ProximaNovaAltSemibold.otf") format("opentype"), /* Open Type Font */
    url("/fonts/proxima_nova/semiBold/MarkSimonson-ProximaNovaAltSemibold.svg") format("svg"), /* Legacy iOS */
    url("/fonts/proxima_nova/semiBold/MarkSimonson-ProximaNovaAltSemibold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/proxima_nova/semiBold/MarkSimonson-ProximaNovaAltSemibold.woff") format("woff"), /* Modern Browsers */
    url("/fonts/proxima_nova/semiBold/MarkSimonson-ProximaNovaAltSemibold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "ProximaNovaS-Regular";
    src: url("/fonts/proxima_nova/regular/MarkSimonson-ProximaNovaScOsfRegular.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/proxima_nova/regular/MarkSimonson-ProximaNovaScOsfRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/proxima_nova/regular/MarkSimonson-ProximaNovaScOsfRegular.otf") format("opentype"), /* Open Type Font */
    url("/fonts/proxima_nova/regular/MarkSimonson-ProximaNovaScOsfRegular.svg") format("svg"), /* Legacy iOS */
    url("/fonts/proxima_nova/regular/MarkSimonson-ProximaNovaScOsfRegular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/proxima_nova/regular/MarkSimonson-ProximaNovaScOsfRegular.woff") format("woff"), /* Modern Browsers */
    url("/fonts/proxima_nova/regular/MarkSimonson-ProximaNovaScOsfRegular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Causten Round Black Oblique;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Black.otf);
}
@font-face {
    font-family: Causten Round Black;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Black\ Oblique.otf);
}
@font-face {
    font-family: Causten Round Bold Oblique;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Bold.otf);
}
@font-face {
    font-family: Causten Round Bold;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Bold\ Oblique.otf);
}
@font-face {
    font-family: Causten Round Extra Bold Oblique;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Extra\ Bold.otf);
}
@font-face {
    font-family: Causten Round Extra Bold;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Extra\ Bold\ Oblique.otf);
}
@font-face {
    font-family: Causten Round Extra Light Oblique;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Extra\ Light.otf);
}
@font-face {
    font-family: Causten Round Extra Light;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Extra\ Light\ Oblique.otf);
}
@font-face {
    font-family: Causten Round Light Oblique;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Light.otf);
}
@font-face {
    font-family: Causten Round Light;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Light\ Oblique.otf);
}
@font-face {
    font-family: Causten Round Medium Oblique;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Medium.otf);
}
@font-face {
    font-family: Causten Round Medium;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Medium\ Oblique.otf);
}
@font-face {
    font-family: Causten Round Regular Oblique;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Regular.otf);
}
@font-face {
    font-family: Causten Round Regular;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Regular\ Oblique.otf);
}
@font-face {
    font-family: Causten Round Semi Bold Oblique;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Semi\ Bold.otf);
}
@font-face {
    font-family: Causten Round Semi Bold;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Semi\ Bold\ Oblique.otf);
}
@font-face {
    font-family: Causten Round Thin Oblique;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Thin.otf);
}
@font-face {
    font-family: Causten Round Thin;
    src: url(../fonts/Causten_Round_Complete_Family/Trustha\ -\ Causten\ Round\ Thin\ Oblique.otf);
}